MCSWebApp/WfDemoOrderService/WfDemoServiceTest/Service References/WfDemoOrderService/DemoOrderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MCSWebApp/WfDemoService/DemoOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WfDemoService" />
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WfDemoService" minOccurs="0" name="data" nillable="true" type="q1:DemoOrderData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSingleOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSingleOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WfDemoService" minOccurs="0" name="LoadSingleOrderResult" nillable="true" type="q2:DemoOrderData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadByOrderID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="demoOrderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadByOrderIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WfDemoService" minOccurs="0" name="LoadByOrderIDResult" nillable="true" type="q3:DemoOrderData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPayableOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="demoOrderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPayableOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPayableOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewOrderID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewOrderIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewOrderIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>