MCSWebApp/WfDemoOrderService/WfDemoServiceTest/Service References/WfDemoOrderService/DemoOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DemoOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MCSWebApp/WfDemoService/DemoOrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MCSWebApp/WfDemoService/DemoOrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/MCSWebApp/WfDemoService/DemoOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WfDemoService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDemoOrderService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDemoOrderService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoOrderService_LoadSingleOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadSingleOrder" />
  </wsdl:message>
  <wsdl:message name="IDemoOrderService_LoadSingleOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadSingleOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoOrderService_LoadByOrderID_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadByOrderID" />
  </wsdl:message>
  <wsdl:message name="IDemoOrderService_LoadByOrderID_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadByOrderIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoOrderService_IsPayableOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPayableOrder" />
  </wsdl:message>
  <wsdl:message name="IDemoOrderService_IsPayableOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPayableOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoOrderService_GetNewOrderID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewOrderID" />
  </wsdl:message>
  <wsdl:message name="IDemoOrderService_GetNewOrderID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewOrderIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IDemoOrderService">
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoOrderService/Update" message="tns:IDemoOrderService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoOrderService/UpdateResponse" message="tns:IDemoOrderService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadSingleOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoOrderService/LoadSingleOrder" message="tns:IDemoOrderService_LoadSingleOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoOrderService/LoadSingleOrderResponse" message="tns:IDemoOrderService_LoadSingleOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadByOrderID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoOrderService/LoadByOrderID" message="tns:IDemoOrderService_LoadByOrderID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoOrderService/LoadByOrderIDResponse" message="tns:IDemoOrderService_LoadByOrderID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPayableOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoOrderService/IsPayableOrder" message="tns:IDemoOrderService_IsPayableOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoOrderService/IsPayableOrderResponse" message="tns:IDemoOrderService_IsPayableOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewOrderID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoOrderService/GetNewOrderID" message="tns:IDemoOrderService_GetNewOrderID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoOrderService/GetNewOrderIDResponse" message="tns:IDemoOrderService_GetNewOrderID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDemoOrderService" type="tns:IDemoOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IDemoOrderService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadSingleOrder">
      <soap:operation soapAction="http://tempuri.org/IDemoOrderService/LoadSingleOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadByOrderID">
      <soap:operation soapAction="http://tempuri.org/IDemoOrderService/LoadByOrderID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPayableOrder">
      <soap:operation soapAction="http://tempuri.org/IDemoOrderService/IsPayableOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewOrderID">
      <soap:operation soapAction="http://tempuri.org/IDemoOrderService/GetNewOrderID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoOrderService">
    <wsdl:port name="BasicHttpBinding_IDemoOrderService" binding="tns:BasicHttpBinding_IDemoOrderService">
      <soap:address location="http://localhost/MCSWebApp/WfDemoService/DemoOrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>